@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Core.Common;
@model ConsumerPagingInfoModel

<div class="dashboard-header">
    <h3 style="margin: 25px 25px 15px 40px;">Consumer Information</h3>
    <form asp-action="Logout" asp-controller="Home">
        <input type="submit" id="logout-button" value="Logout" />
    </form>
</div>
<div class="consumer-info">
    <div class="filter-search-area">
        <div class="filter-area">
            <div class="dropdown-form">
                <label>Select Search Type</label>
                <select id="Flag" onchange="showHide(this)">
                    <option hidden>Select an option</option>
                    <option value="F">Feeder Code</option>
                    <option value="S">Substation & Subdivision Code</option>
                </select>
            </div>
        </div>

        <div class="info-area">
            <div class="dropdown-options">
                <div class="show-hide" id="F">
                    <label>Enter Feeder Code</label>
                    <textarea id="FeederInput" class="FeederInput" required></textarea>
                </div>
                <div class="show-hide" id="S">
                    <label>Enter Substation and Subdivision</label>
                    <div>
                        <input id="SubstaionCodeInput" type="text" placeholder="Substation Code" required/>
                    </div>

                    <div>
                        <input id="SubDivisionCodeInput" type="text" placeholder="Subdivision Code" required/>
                    </div>
                </div>
                <div>
                    <input type="submit" id="search-btn" value="Search" />
                    <a href="#show-grid-modal" id="modal-grid-btn" style="text-decoration: none; font-size: 12px;">Show Grid View</a>
                </div>
                <div id="default-view">
                    <h5>Please select an option to search.</h5>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" id="save-btn" value="Save Data"/>
    
    <div class="containers">
        <div class="col-md-12">
            <div id="ConsumerTableContainer"></div>
        </div>
    </div>
            
</div>

<div id="show-address" class="modal">
    <div class="modal__content">
        <p id='showAddressId'></p>
        <a href="#modal__close" class="address-close-btn">Close</a>

    </div>
</div>

<div id="show-grid-modal" class="modal">
    <div class="modal__content">
        <a href="#" class="modal__close">&times;</a>
        <table class="table table-bordered">
               <thead>
                    <tr>
                        <th>Name</th>
                        <th>MobileNumber</th>
                        <th>SubstationCode</th>
                        <th>FeederCode</th>
                        <th>FeederName</th>
                        <th>AccountNumber</th>
                        <th>SdoCode</th>
                        <th>Address</th>
                    </tr>
               </thead>
               <tbody id="grid-body">
               </tbody>
        </table>
        <div id="pagination-container">
            <button id="prev-btn">&lt;</button>
            <div id="page-list"></div>
            <button id="next-btn">&gt;</button>
        </div>
        <a href="#modal__close" class="address-close-btn">Close</a>
    </div>
</div>