<div class="dashboard-header">
    <h3 style="margin: 25px 25px 15px 40px;">Consumer Information</h3>
    <form asp-action="Logout" asp-controller="Home">
        <input type="submit" id="logout-button" value="Logout" />
    </form>
</div>